@using LanguageCourses.Data.DataTransfetObject
@model IEnumerable<CourseForDisplay>
@{
    ViewData["Title"] = "AllCourse";
}

<h2>AllCourse</h2>

<p>
    <a asp-action="AllCourse">Show all course</a>
</p>

<form asp-controller="Course" asp-action="AllCourse" method="get">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter"/>
    </p>
</form>
<table class="table">
    <thead>
    <tr>
        <th>Language</th>
        <th>CourseLevel</th>
        <th>NumberOfSeats</th>
        <th>StartDate</th>
        <th>TeacherName</th>
        <th>Edit course</th>
        <th>Delete course</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var courseList in Model)
        {
        <tr>
            <td>@courseList.Language</td>
            <td>@courseList.CourseLevel</td>
            <td>@courseList.NumberOfSeats</td>
            <td>@courseList.StartDate</td>
            <td>@courseList.TeacherName</td>
            <td><a class="btn btn-info" asp-area="" asp-controller="Course" asp-action="Update" asp-route="@courseList.IdCourse">Edit</a>/td>
            <td><a class="btn btn-danger" asp-area="" asp-controller="Course" asp-action="Delete" asp-route="@courseList.IdCourse">Edit</a>/td>
        </tr>
        }
    </tbody>
</table>
